<div class="container">
    <h1>Lighting</h1>
    <div layout="row" class="layout-row">
        <div flex="70" class="flex-70">
            <md-content>
                <div class='md-padding' layout="row" layout-wrap>
                    <md-card flex="30" ng-repeat="name in lc.lighting.data" ng-click="lc.addOrders(name)">
                        <img ng-src="{{name.photo}}" class="md-card-image" alt="{{name.name}}" ng-style="{height: '200px'}">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{name.name}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </md-content>
        </div>
        <div ng-controller="SidenavController as sc" flex="25" class="flex-25">
            <md-card class="addCard">
                <div class="addCardStyle">
                    <h1 class="purchase">Your Purchases</h1>
                    <div layout="row" class="layout-row">
                        <div flex="48" class="flex-40">
                            <h2>Products</h2>
                            <p ng-repeat="order in sc.orderTotal.purchases">
                                {{order}}
                            </p>
                        </div>
                        <div flex="48" class="flex-40">
                            <h2>Cost</h2>
                            <p ng-repeat="cost in sc.orderTotal.cost">
                                {{cost}}
                            </p>
                        </div>
                    </div>
                    <div class="total">
                        <h2>Total cost</h2>
                        {{sc.orderTotal.total}}
                    </div>
                </div>
            </md-card>
            <md-button ng-click="sc.makePurchase(); sc.openToast()" class="md-raised md-primary">Make Purchase</md-button>
        </div>
    </div>
</div>